<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de Sensores</title>

    <link href="~/Content/css/all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/base.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Paginacao/paginacao.css" rel="stylesheet" /> 
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Share+Tech+Mono&display=swap" rel="stylesheet">
    @RenderSection("Styles", required: false)

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="loader-container">
        <div class="loader">
            <div class="obj"></div>
            <div class="obj"></div>
            <div class="obj"></div>
            <div class="obj"></div>
            <div class="obj"></div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="header">
                <div class="header-logo">
                    <img class="logo" src="~/Imagens/Braskem.png">
                    <p class="nome-sistema"> Real time monitoring system. </p>
                </div>
                <input type="hidden" id="nomeUsuario" value="@(Session["NomeUsuario"] ?? 0)" />

                @if (Session["NomeUsuario"] != null)
                {
                    <div class="login-dropdown">
                        <button class="btn-dropdown">Olá, @Session["NomeUsuario"].ToString()</button>
                        <div class="dropdown-content">
                            @*<a class="dropdown-content-item" href="#">Link 1</a>
                                <a class="dropdown-content-item" href="#">Link 2</a>*@
                            <a class="dropdown-content-item" href="/Login/Sair">SAIR</a>
                        </div>
                    </div>
                }
            </div>

        </div>
        @RenderBody()
        <div class="row">
            <div class="footer">
                <div class="footer-info">Desenvolvido por equipe Trinity / Contato : engenhariatrinity@gmail.com</div>
                <div class="footer-copyright">&copy; Trinity (2017 - 2019) - Desenvolvendo cada vez mais. Todos os direitos reservados.</div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Padrao/modalpadrao.js"></script>
    <script src="~/Scripts/Padrao/scripts.js"></script>
    <script src="~/Scripts/base.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>