@model MonitoramentoSensores.Models.Planta.PlantaModel

<div class="box-header">
    <div class="box-titulo">
        Planta&nbsp;<b>@Model.Nome</b>
        <input type="hidden" id="codigoPlanta" value="@Model.Codigo" />
        <input type="hidden" id="paginaAtual" value="@Model.PaginacaoArea.Pagina" />
        <input type="hidden" id="qtdePaginas" value="@Model.PaginacaoArea.QtdePaginas" />
    </div>
    <div class="float-right">
        @if (Session["NomeUsuario"]?.ToString() == "administrador")
        {
            <a class="btn btn-blue js-modal-cadastrar-area">Cadastrar Área</a>
        }
    </div>
</div>
<div class="box-body espacamento-lateral">
    @if (Model.PaginacaoArea.Lista.Any())
    {
        <div class="row">
            @for (int indiceGrupoArea = 0; indiceGrupoArea < Model.PaginacaoArea.Lista.Count; indiceGrupoArea += 3)
            {
                for (int indiceItemArea = indiceGrupoArea; indiceItemArea < Math.Min(indiceGrupoArea + 3, Model.PaginacaoArea.Lista.Count); indiceItemArea++)
                {
                    var area = Model.PaginacaoArea.Lista[indiceItemArea];

                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="area-aba">
                            <b class="area-aba-titulo">@area.Nome</b>
                            <div class="icones">
                                <a class="fa fa-eye area-aba-icone icone-branco" href="/Visualizacao/DetalhesArea?codigoArea=@area.Codigo"></a>
                                <div class="dropdown">
                                    <a class="fa fa-bars icone-branco dropbtn" onclick="mostrarOpcoesArea(@area.Codigo)"></a>
                                    <div id="opcoes-area-@area.Codigo" class="dropdown-content opcoes-area">
                                        <a href="/Equipamento/Index?codigoArea=@area.Codigo">Equipamentos</a>
                                        @if (Session["NomeUsuario"]?.ToString() == "administrador")
                                        {
                                            <a class="js-duplicar-area" data-codigo="@area.Codigo" data-nome="@area.Nome">Duplicar</a>
                                            <a class="js-modal-editar-area" data-codigo="@area.Codigo">Editar</a>
                                            <a class="js-excluir-area" data-codigo="@area.Codigo" data-nome="@area.Nome">Excluir</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="area-content scrollbar" id="style-1">
                            <div class="area-body">
                                @if (area.ListaEquipamento.Any())
                                {
                                    for (int indiceGrupoEquipamento = 0; indiceGrupoEquipamento < area.ListaEquipamento.Count(); indiceGrupoEquipamento += 4)
                                    {
                                        <div class="row">
                                            @for (int indiceItemEquipamento = indiceGrupoEquipamento; indiceItemEquipamento < Math.Min(indiceGrupoEquipamento + 4, area.ListaEquipamento.Count()); indiceItemEquipamento++)
                                            {
                                                var equipamento = area.ListaEquipamento[indiceItemEquipamento];

                                                <div class="col-sm-3 col-3">
                                                    <div class="equipamento-content" data-codigo-equipamento="@equipamento.Codigo">
                                                        @switch (equipamento.Status)
                                                        {
                                                            case 0:
                                                            <div class="equipamento-status-green equipamento-status js-modal-equipamento-detalhes-desativado" data-codigo-equipamento="@equipamento.Codigo" data-toggle="tooltip" title="@equipamento.Nome" data-placement="top">
                                                            </div>
                                                            break;

                                                            case 1:
                                                            <div class="equipamento-status-yellow equipamento-status js-modal-equipamento-detalhes-desativado" data-codigo-equipamento="@equipamento.Codigo" data-toggle="tooltip" title="@equipamento.Nome" data-placement="top">
                                                            </div>
                                                            break;

                                                            case 2:
                                                            <div class="equipamento-status-red equipamento-status js-modal-equipamento-detalhes-desativado" data-codigo-equipamento="@equipamento.Codigo" data-toggle="tooltip" title="@equipamento.Nome" data-placement="top">
                                                            </div>
                                                            break;
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="nenhum-registro">
                                        <i class="fa fa-times"></i>
                                        Nenhum equipamento encontrado
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @Trinity.Paginacao(Model.PaginacaoArea.Pagina, Model.PaginacaoArea.QtdePaginas)
    }
    else
    {
        <div class="nenhum-registro">
            <i class="fa fa-times"></i>
            Nenhuma área encontrada
        </div>
    }

</div>
