@using MonitoramentoSensores.MOD

@model MonitoramentoSensores.Models.Area.AreaModel


<div class="row espacamento-superior">
    <div class="col-md-12">
        <div class="box">
            <main class="area-container">
                <div id="alert-helper" class="pull-right" style="z-index: 999999999;"></div>
                <div class="area-header">
                    Área&nbsp;<b>@Model.Nome</b>
                </div>
                <div id="detalhes-area-partial" class="area-body">
                    @if (Model.ListaEquipamento.Any())
                    {
                        for (int e = 0; e < Model.ListaEquipamento.Count; e++)
                        {
                            var equipamento = Model.ListaEquipamento[e];
                            <div class="equipamento">
                                <div class="equipamento-header" data-toggle="tooltip" data-placement="top" title="@equipamento.Nome" data-original-title="@equipamento.Nome">
                                    <span class="equipamento-titulo">@equipamento.Nome</span>
                                </div>
                                <div class="equipamento-container">

                                    <div class="equipamento-body">
                                        @if (equipamento.ListaSensor.Any())
                                        {
                                            for (int s = 0; s < equipamento.ListaSensor.Count; s++)
                                            {
                                                var sensor = equipamento.ListaSensor[s];

                                                <div class="sensor-card" data-codigo-sensor="@sensor.Codigo" data-toggle="tooltip" data-placement="top" title="@sensor.Nome" data-original-title="@sensor.Nome">
                                                    @switch (sensor.Status)
                                                    {
                                                        case 0/*Status.Estavel*/:
                                                        <div class="status status-green">@sensor.Nome</div>
                                                        break;

                                                        case 1/*Status.Incomum*/:
                                                        <div class="status status-yellow">@sensor.Nome</div>
                                                        break;

                                                        case 2/*Status.Critico*/:
                                                        <div class="status status-red">@sensor.Nome</div>
                                                        break;
                                                    }
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="nenhum-registro">
                                                <i class="fa fa-times"></i>
                                                Nenhum sensor encontrado
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="nenhum-registro">
                            <i class="fa fa-times"></i>
                            Nenhum equipamento encontrado
                        </div>
                    }
                </div>
            </main>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-black btn-voltar" href="/Visualizacao/Index?codigoPlanta=@Model.CodigoPlanta">Voltar</a>
    </div>
</div>





@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Visualizacao/visualizacaoa.css" rel="stylesheet" />
    <link href="~/Content/Visualizacao/detalhesArea.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Visualizacao/visualizacao.js"></script>
    <script src="~/Scripts/Area/area.js?updated=123456789"></script>
}
