@model MonitoramentoSensores.Models.Planta.PlantaModel

<main>
    <div id="alert-helper" class="pull-right" style="z-index: 999999999;"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-titulo">
                        Planta &nbsp;<b>@Model.Nome</b>
                    </div>
                </div>
                <div class="box-body">
                    @if (Model.PaginacaoArea.Lista.Any())
                    {
                        for (int indiceGrupoArea = 0; indiceGrupoArea < Model.PaginacaoArea.Lista.Count; indiceGrupoArea += 3)
                        {
                            <div class="row">
                                @for (int indiceItemArea = indiceGrupoArea; indiceItemArea < Math.Min(indiceGrupoArea + 3, Model.PaginacaoArea.Lista.Count); indiceItemArea++)
                                {
                                    var area = Model.PaginacaoArea.Lista[indiceItemArea];

                                    <div class="col-md-4">
                                        <div class="area-content">
                                            <div class="area-header">
                                                <div class="box-subtitulo">
                                                    Área <b>@area.Nome</b>
                                                </div>
                                            </div>
                                            <div class="area-body">
                                                @if (area.ListaEquipamento.Any())
                                                {
                                                    for (int indiceGrupoEquipamento = 0; indiceGrupoEquipamento < area.ListaEquipamento.Count(); indiceGrupoEquipamento += 3)
                                                    {
                                                        <div class="row-equipamento">
                                                            @for (int indiceItemEquipamento = 0; indiceItemEquipamento < Math.Min(indiceItemEquipamento + 3, area.ListaEquipamento.Count()); indiceItemEquipamento++)
                                                            {
                                                                var equipamento = area.ListaEquipamento[indiceItemEquipamento];

                                                                <div class="col-md-4">
                                                                    <div class="equipamento-content">
                                                                        <div class="equipamento-status js-modal-equipamento-detalhes" data-codigo-equipamento="@equipamento.Codigo" data-toggle="tooltip" title="@equipamento.Nome" data-placement="top">
                                                                        </div>
                                                                        @*<div class="equipamento-detalhes">
                                                                                @if (equipamento.ListaSensor.Any())
                                                                                    {
                                                                                        foreach (var sensor in equipamento.ListaSensor)
                                                                                        {
                                                                                            <div class="sensor">
                                                                                                @sensor.Nome (@sensor.Endereco)
                                                                                            </div>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <div class="nenhum-registro">
                                                                                            <i class="fa fa-times"></i>
                                                                                            Nenhum sensor encontrado
                                                                                        </div>
                                                                                    }
                                                                            </div>*@
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="nenhum-registro">
                                                        <i class="fa fa-times"></i>
                                                        Nenhuma equipamento encontrada
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="nenhum-registro">
                            <i class="fa fa-times"></i>
                            Nenhuma área encontrada
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-black btn-voltar" href="/Planta/Index">Voltar</a>
        </div>
    </div>
    <div id="modal-equipamento-detalhes-partial">
        @Html.Partial("_ModalEquipamentoDetalhesPartial", new MonitoramentoSensores.Models.Equipamento.EquipamentoModel
    {
        ListaSensor = new List<MonitoramentoSensores.Models.Sensor.SensorModel>()
    })
    </div>

</main>

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Visualizacao/visualizacao.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Padrao/modalpadrao.js"></script>
    <script src="~/Scripts/Padrao/scripts.js"></script>
    <script src="~/Scripts/Visualizacao/visualizacao.js"></script>
}