@model MonitoramentoSensores.Models.PaginacaoModel<MonitoramentoSensores.Models.Planta.PlantaModel>

<input type="hidden" id="paginaAtual" value="@Model.Pagina" />
<input type="hidden" id="qtdePaginas" value="@Model.QtdePaginas" />

@if (Model.Lista.Any())
{
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:20%;">Nome</th>
                    <th style="width:20%;">País</th>
                    <th style="width:20%;" class="text-center">CEP</th>
                    <th style="width:20%;" class="text-center">Número</th>
                    <th style="width:20%;" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var planta in Model.Lista)
                {
                    <tr>
                        <td>@planta.Nome</td>
                        <td>@planta.Pais</td>
                        <td class="text-center">@planta.CEP</td>
                        <td class="text-center">@planta.Numero</td>
                        <td class="text-center">
                            @*<a class="fa fa-plus margin" href="/Area/Index?codigoPlanta=@planta.Codigo" data-toggle="tooltip" data-placement="top" title="" data-original-title="Áreas da Planta"></a>*@
                            <a class="glyphicon fa fa-eye margin" href="/Visualizacao/Index?codigoPlanta=@planta.Codigo" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visualizar"></a>
                            @if (Session["NomeUsuario"]?.ToString() == "administrador")
                            {
                                <a class="fa fa-copy js-duplicar-planta margin" data-codigo="@planta.Codigo" data-nome="@planta.Nome" data-pais="@planta.Pais" data-toggle="tooltip" data-placement="top" title="" data-original-title="Duplicar"></a>
                                <a class="fa fa-edit js-modal-editar-planta margin" data-codigo="@planta.Codigo" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"></a>
                                <a class="fa fa-times js-excluir-planta margin" data-codigo="@planta.Codigo" data-nome="@planta.Nome" data-pais="@planta.Pais" data-toggle="tooltip" data-placement="top" title="" data-original-title="Excluir"></a>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    @Trinity.Paginacao(Model.Pagina, Model.QtdePaginas)
}
else
{
    <div class="nenhum-registro">
        <i class="fa fa-times"></i>
        Nenhuma planta encontrada
    </div>
}